// Colors
$lightGreyBackgroundColor: #EEEEEE;
$navBarBackgroundColor: #20222b;
$darkTextColor: #080808;
$lightTextColor: #EEEEEE;

// Spacing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;